doctype html
html(lang="ru")
    head
        
        title Проектная деятельность
        meta(charset="utf-8")
        link(rel="shortcut icon" type="image/png" href="Images/Favicon.png")
        link(href="enter.css" rel="stylesheet" type="text/css")
        link(rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css")
    body.container-fluid
        div.container-fluid
            div.row
                div(class="col-md-auto text-center Logo")
                    img(src="Images/Logo.png" alt="Logo" class="rounded-circle")
                div(class="col  Name_and_progbar")
                    div(class="row container-fluid")
                        div(class="text-center Name_of_PD") Maya, 3Dmax, Unity для инженерных задач с использованием технологий AR, VR
                    div(class="row container-fluid")
                        div.progress
                            div(class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100") 50%
            div(class="row Nav_Posts")
                div(class="col-md-auto")
                    ul(class="nav text-center  flex-column")
                        li(class="nav-item")
                            a(class="btn btn-primary btn-lg" href="/") На главную
                        li(class="nav-item")
                            a(class="btn btn-primary btn-lg" href="/Theme") Тема проекта
                        li(class="nav-item")
                            a(class="btn btn-primary btn-lg" href="/Quest") Задание на проект
                        li(class="nav-item")
                            a(class="btn btn-primary btn-lg" href="/Team") Список участников
                div(class="col Posts text-center")
                    form(action="/loginin" method="get")
                        div(class="row") 
                            div(class="col enter container-fluid text-center") Вход
                        div(class="row justify-content-center logrow")
                            div(class="col-1 ") Логин:  
                            div(class="col col-md-auto")
                                input(type="text" name="login")
                        div(class="row justify-content-center passrow")
                            div(class="col-1") Пароль:
                            div(class="col col-md-auto") 
                                input(type="text" name="password")
                        div(class="row justify-content-center btnenter")
                            div(class="col col-md-auto")
                                button(class="btn btn-primary btn-lg" type="submit") Войти
                        if badLogin
                            
                        else
                            div(class="row justify-content-center btnenter")
                                div(class="col col-md-auto wrongpass") Неправильный логин или пароль
            div(class="row AboutTeam_Site")
                .col
                    div(class="row container-fluid AddInfo")
                        a(class="col btn btn-primary btn-lg text-center AddInfoItem" href="/Partners") Партнеры
                        a(class="col btn btn-primary btn-lg text-center AddInfoItem" href="/Grands") Гранды
                        a(class="col btn btn-primary btn-lg text-center AddInfoItem" href="/Git") Ссылка на гит проекта
                    div(class="row container-fluid AboutSite")
                        div(class="col") Сайт подготовлен для отчетности по проектной деятельности <br>Яранцевым Владимиром Андреевичем , Чулкиним Денисом Сергеевичем
                        div(class="col text-right") © 2020 Московский политехнический университет
        script(src="bootstrap-4.4.1-dist/js/bootstrap.min.js")
